<div class="header">
  <button
    class="social-media-btn"
    (click)="navigate('https://www.facebook.com/chanakahsn')"
  >
    <img src="../../assets/images/twitter.png" alt="twitter logo" />
  </button>

  <button
    class="social-media-btn"
    (click)="navigate('https://www.facebook.com/chanakahsn')"
  >
    <img src="../../assets/images/telegram.png" alt="telegram logo" />
  </button>

  <button
    class="social-media-btn"
    (click)="navigate('https://www.facebook.com/chanakahsn')"
  >
    <img src="../../assets/images/facebook.png" alt="facebook logo" />
  </button>
</div>
