.header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
    z-index: 2;

    .social-media-btn {
        background: none;
        border: none;
        cursor: pointer;
        margin: 5px;

        img {
            width: 40px;
            height: 40px;
            margin: 5px;
        }
    }

    .social-media-btn:hover {
        scale: 1.2;
    }
}

@media screen and (max-width: 576px) {
    .header {
        justify-content: center;

        .social-media-btn:hover {
            scale: 1;
        }
    }
}