<section class="first-page">
  <app-header></app-header>
  <img src="../assets/images/right.png" class="right-image" />
  <img src="../assets/images/left.png" class="left-image" />
  <img src="../assets/images/hello.png" class="hello" />
  <img src="../assets/images/potato.png" class="potato" />
  <img src="../assets/images/potato group mini.png" class="left-potato-mini" />
  <img src="../assets/images/potato group mini.png" class="right-potato-mini" />
  <div class="row">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 mx-auto">
      <div class="row">
        <div class="col-12 col-sm-6">
          <button
            (click)="navigate('https://www.facebook.com/chanakahsn')"
            class="buy-now-btn"
          >
            BUY NOW
          </button>
        </div>
        <div class="col-12 col-sm-6">
          <button
            (click)="navigate('https://www.facebook.com/chanakahsn')"
            class="view-live-chart-btn"
          >
            VIEW LIVE CHART
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <img src="../assets/images/tato the potato.png" class="tato-the-potato" />
  </div>
</section>

<section class="second-page">
  <div class="second-page-headline text-center">
    <img src="../assets/images/how you feel.png" class="how-you-feel" />
  </div>
  <div class="row second-page-row">
    <div class="col-12 col-lg-7 text-center">
      <img src="../assets/images/feels good.png" class="feels-good" />
    </div>
    <div class="col-12 col-lg-5 text-center">
      <img
        src="../assets/images/potato group large.png"
        class="potato-group-large"
      />
    </div>
  </div>
</section>

<section class="third-page">
  <div class="row">
    <div class="col-12 mx-auto text-center">
      <div class="row">
        <div class="col-12 col-sm-10 text-center">
          <div class="third-page-headline">
            <img src="../assets/images/why buy.png" class="why-buy" />
          </div>
        </div>
        <div class="col-12 col-sm-2">
          <img src="../assets/images/potato menu.png" class="potato-menu" />
        </div>
      </div>
    </div>
  </div>
  <div class="row third-page-row">
    <p-carousel
      [value]="carouselItems"
      [circular]="true"
      [numVisible]="5"
      [numScroll]="1"
      [autoplayInterval]="autoplayInterval"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-item pTemplate="item">
        <div class="carousel-item">
          <div class="carousel-image">
            <img [src]="item.image" alt="Screen Image" />
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>

<section class="fourth-page">
  <div class="text-center row">
    <div class="col wording-div">
      <img src="../assets/images/1.png" class="wording" />
    </div>
    <div class="col wording-div">
      <img src="../assets/images/2.png" class="wording" />
    </div>
    <div class="col wording-div">
      <img src="../assets/images/3.png" class="wording" />
    </div>
    <div class="col wording-div">
      <img src="../assets/images/4.png" class="wording" />
    </div>
    <div class="col wording-div">
      <img src="../assets/images/5.png" class="wording" />
    </div>
    <div class="col wording-div">
      <img src="../assets/images/6.png" class="wording" />
    </div>
    <div class="col wording-div">
      <img src="../assets/images/7.png" class="wording" />
    </div>
  </div>
</section>

<section class="fifth-page">
  <div class="office-div">
    <div class="col-12">
      <button
        (click)="navigate('https://www.facebook.com/chanakahsn')"
        class="buy-now-btn"
      >
        BUY NOW
      </button>
    </div>
  </div>
</section>
