.first-page {
    height: 100vh;
    background-color: rgba(255, 201, 102, 255);
    overflow: hidden;

    .left-image {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 350px;
    }

    .right-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 320px;
    }

    .left-potato-mini {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 250px;
    }

    .right-potato-mini {
        position: absolute;
        bottom: 50px;
        right: 50px;
        width: 250px;
    }

    .hello {
        position: absolute;
        top: 50%;
        left: 47%;
        transform: translate(-50%, -50%);
        width: 440px;
    }

    .potato {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        animation: moveUpDown 3s ease-in-out infinite;
    }

    .buy-now-btn {
        position: absolute;
        background-color: #01A752;
        color: white;
        border-radius: 30px;
        border: none;
        width: 200px;
        height: 40px;
        font-size: 20px;
        z-index: 2;
        align-items: center;
        margin-top: 70vh;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .view-live-chart-btn {
        position: absolute;
        background-color: white;
        color: #01A752;
        border-radius: 30px;
        border: none;
        width: 200px;
        height: 40px;
        font-size: 20px;
        z-index: 2;
        align-items: center;
        margin-top: 70vh;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .buy-now-btn:hover {
        background-color: #03be5d;
        font-size: 22px;
    }

    .view-live-chart-btn:hover {
        background-color: rgb(255, 246, 246);
        font-size: 22px;
    }

    .tato-the-potato {
        position: absolute;
        bottom: 20px;
        width: 700px;
        animation: trainMove 5s linear infinite;
    }
}

/* Tato the Potato animation */
@keyframes trainMove {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

/* Potato animation */
@keyframes moveUpDown {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translate(-50%, -50%) translateY(0) rotate(0deg);
    }

    40% {
        transform: translate(-50%, -50%) translateY(-50px) rotate(5deg);
    }

    60% {
        transform: translate(-50%, -50%) translateY(-25px) rotate(-3deg);
    }
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-page {
    height: 100vh;
    background-color: rgba(255, 201, 102, 255);
    overflow: hidden;

    .second-page-headline {
        padding: 50px;

        .how-you-feel {
            width: 650px;
        }
    }

    .second-page-row {
        padding: 0 50px;

        .feels-good {
            width: 650px;
        }

        .potato-group-large {
            width: 500px;
        }
    }
}

.third-page {
    height: 100vh;
    background-color: rgba(255, 201, 102, 255);
    overflow: hidden;

    .potato-menu {
        width: 150px;
    }

    .third-page-headline {
        .why-buy {
            width: 650px;
        }
    }

    .third-page-row {
        padding: 30px 50px;

        .carousel-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .carousel-image {
            img {
                height: 65vh;
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

.fourth-page {
    height: 100vh;
    width: 100vw;

    .office-div {
        background-image: url('../../assets/images/office.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        overflow: hidden;
        transition: background-position 0.5s ease-in-out;

        .buy-now-btn {
            position: absolute;
            background-color: #01A752;
            color: white;
            border-radius: 30px;
            border: none;
            width: 250px;
            height: 60px;
            font-size: 30px;
            z-index: 2;
            align-items: center;
            margin-top: 10vh;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        .buy-now-btn:hover {
            background-color: #03be5d;
            font-size: 32px;
        }

    }
}

@media screen and (max-width: 576px) {
    .first-page {

        .left-image,
        .right-image {
            width: 150px;
        }

        .left-potato-mini {
            top: 100px;
            left: 20px;
            width: 120px;
        }

        .right-potato-mini {
            bottom: 50px;
            right: 20px;
            width: 120px;
        }

        .hello {
            width: 250px;
            left: 43%;
        }

        .potato {
            width: 120px;
        }

        .buy-now-btn {
            width: 160px;
            height: 30px;
            font-size: 16px;
            margin-top: 56vh;
        }

        .view-live-chart-btn {
            width: 160px;
            height: 30px;
            font-size: 16px;
            margin-top: 62vh;
        }

        .buy-now-btn:hover {
            background-color: #03be5d;
            font-size: 16px;
        }
    
        .view-live-chart-btn:hover {
            background-color: rgb(255, 246, 246);
            font-size: 16px;
        }
    }

    .second-page {
        .second-page-headline {
            padding: 80px;

            .how-you-feel {
                width: 300px;
            }
        }

        .second-page-row {
            padding: 10px 50px;

            .feels-good {
                width: 220px;
            }

            .potato-group-large {
                margin-top: 80px;
                width: 180px;
            }
        }
    }

    .third-page {

        .potato-menu {
            width: 120px;
        }

        .third-page-headline {
            .why-buy {
                width: 250px;
            }
        }

        .third-page-row {
            padding: 30px;
        }
    }

    .fourth-page {

        .office-div {
            background-position: 42%;

            .buy-now-btn {
                width: 200px;
                height: 50px;
                font-size: 20px;
            }

            .buy-now-btn:hover {
                background-color: #03be5d;
                font-size: 20px;
            }
        }
    }
}

@media screen and (min-width:576px) and (max-width: 992px) {
    .first-page {

        .left-image,
        .right-image {
            width: 250px;
        }

        .left-potato-mini {
            top: 100px;
            left: 20px;
            width: 170px;
        }

        .right-potato-mini {
            bottom: 50px;
            right: 20px;
            width: 170px;
        }

        .hello {
            width: 350px;
            left: 46%;
        }

        .potato {
            left: 50%;
            width: 200px;
        }

        .buy-now-btn {
            width: 160px;
            height: 40px;
            font-size: 18px;
            margin-top: 65vh;
        }

        .view-live-chart-btn {
            width: 160px;
            height: 40px;
            font-size: 18px;
            margin-top: 65vh;
        }
    }

    .second-page {
        .second-page-headline {
            padding: 50px;

            .how-you-feel {
                width: 500px;
            }
        }

        .second-page-row {
            padding: 0 50px;

            .feels-good {
                width: 300px;
            }

            .potato-group-large {
                margin-top: 30px;
                width: 250px;
            }
        }
    }

    .third-page {
        .potato-menu {
            width: 120px;
        }

        .third-page-headline {
            .why-buy {
                width: 450px;
            }
        }

        .third-page-row {
            padding: 40px;
        }
    }
}

@media screen and (min-width:992px) and (max-width: 1200px) {

    .second-page {
        .second-page-row {

            .feels-good {
                width: 450px;
            }

            .potato-group-large {
                margin-top: 30px;
                width: 300px;
            }
        }
    }
}